*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(/accoliteOlympiclogoLight.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  min-height: 12vh;
  font-size: 1.5vw;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 1.0), transparent);
  z-index: 2;
  font-family: 'Oswald', sans-serif;
}
.header ul {
  list-style-type: none;
  display: flex;
  width: 84vw;
  margin-left: 8vw;
  justify-content: center;
  padding-inline-start: 0px;
}
.header ul li {
  margin: 0 1em;
  /* padding: 1em; */
}
.header ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  font-size: 2vw;
}
.header ul li a::after {
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  content: '';
  width: 0;
  height: 0.5vh;
  color:#555;
  transition: all 0.2s linear;
}
.header ul li a:hover::after {
  width: 100%;
  background-color: #111;
}
.header ul li a:hover {
  color: #333;
  font-size: 2.5vw;
}
.header ul li a:active::after {
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  content: '';
  width: 0;
  height: 0.5vh;
  color:#555;
  transition: all 0.2s linear;
}
.header ul li a:active {
  color: #333;
  font-size: 2.5vw;
}

.header ul li a:active::after {
  width: 100%;
  background-color: #111;
}

section {
  position: relative;
  display: flex;
  width: 80vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

section .companyContact{
  width: 38vw;
  float: left;
}

section .induvidualContact{
  width: 38vw;
  float: left;
}

section .horizontalBreaker{
  width: 0.5vw;
  height: 50vh;
  float: left;
  border-radius: 1vh;
  border-left: 0.5vw solid #555;
  margin: 2vw;
}

section .heading {
  font-weight: 600;
  margin: 1vh 0vh;
  font-size: 1.75vw;
}

section .content{
  text-align:justify;
}

.container {
  font-family: 'Abel', sans-serif;
  font-size: 1.25vw;
}

.container .notes {
  font-family: 'Lobster', cursive;
  font-size: 1.25vw;
}

.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-behavior: smooth;
  padding:0vh 10vw;
}

.section :nth-of-type(even) {
  background-color: #0967b1;
}

.accoliteLogoLeft {
  width: 15vw;
  position: fixed;
}

.image-gallery-slide-wrapper {
  position: relative;
  z-index: 2;
}

.image-gallery-thumbnails-wrapper{
  z-index: 2;
}

.image-gallery {
  width: 80vw;
  margin: 15vh 0vh;
}

.accoliteLogoRight {
  position: fixed;
  width: 40vw;
  left: 30vw;
  top: 10vh;
  opacity: 0.25;
  z-index: -1;
}

.teamName  {
  padding: 10%;
  display: block;
  width: 15vw;
  background: linear-gradient(1deg, #3cc8ff, transparent);
}

.activeTeamName  {
  padding: 10%;
  display: block;
  width: 15vw;
  background: linear-gradient(1deg, #0491c9, transparent);
}

#squadBar {
  position: absolute !important;
  left: -6vw !important;
  top: 34vh !important;
}

.squadBox {
  padding: 1.5vw 0.5vw;
  display: inline-block;
  margin: 0.5vw;
  border-radius: 3vw;
  min-width: 22vw;
  min-height: 14vh;
  background: #e9f7f7;
  text-align: center;
  font-family: cursive;
}

.currentTeamLogo {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 7vh;
  left: -5vw;
}

.games {
  font-family: 'Lobster', cursive;
}

.squad {
  max-width: 74vw;
  min-width: 74vw;
  max-height: 82vh;
  overflow-y: scroll;
  position: absolute;
  left: 11vw;
  top: 20vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0.4vw;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3cc8ff; 
  border-radius: 0.4vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0967b1; 
}